h1 {
    text-align: center;
    color: white;
    background-color: pink;
    border-style: dotted;
    border-width: 7px;
    border-color: blue;
    border-radius: 25px;
    margin: 30px ;
    padding: 10px;
}

p   {
    color: pink;
    background-color: white;
    border-style: solid;
    border-width: 2px 5px 2px 5px;
    padding: 20px;
}

img {
    margin-left: 470px;
    max-width: 40%;
    height:400px /*sin la altura no funciona*/
}


